@font-face {
    font-family: Audrey;
    src: url(fonts/Audrey-Normal.otf);
}

body{
	padding: 0;
	margin:0;
	font-family: 'Audrey', sans-serif;
	font-size: 1em;
	color: black;
}

i{
	color: #cdbb8d;
}

h1,h2,h3{

	font-size: 1.2em;
	line-height: 1.5em;
	letter-spacing: 0.3em;
	opacity: 0.8;
}

p,a{
	font-family: 'Libre Baskerville'

}
p,a{
	font-size: 12px;
	line-height: 25px;
	
}

nav *{
	font-family: 'Audrey';
}

/*HEADER*/

.navbar-toggler{
	border:none;
}
.navbar{
	margin:none;
	border-top: 3px solid #cdbb8d;
	border-bottom: 1px solid #e9e9e9;
	background-color: #F4F5F7;
}

.navbar ul{
	font-size: 0.8em;
	letter-spacing: 0.3em;
	line-height: 1.5em;
}

/*SOCIAL*/

.social-wrapper{
	margin-top: 15px;
}

.social-wrapper a{
	padding-right: 30px;
}

/*LOGO*/

.logo-wrapper img{
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100px;
	
}

.logo-wrapper{
	padding-bottom: 30px;
}

.logo-wrapper h1{
	font-size: 0.8em;
	letter-spacing: 0.3em;
	line-height: 1.5em;
	margin:0;
}

/*SHOWCASE*/
.showcase{
	height: 800px;
	background-image: url('images/showcase.jpg');
	background-position: center;
}

.testimonial{
	text-align: center;
	padding-top: 50px;
	font-style: italic;
}

/*À PROPOS*/


	/* A propos (image et texte) */

#apropos .about-container{
	padding: 0px 50px 50px 50px;
	color: #cdbb8d;
}

#apropos{
	padding: 70px 10px;
}

#apropos h2{
	text-align: center;
}

#apropos .row2 p{
text-align: justify;
}

#apropos img{
	width: 400px;
}

@media (min-width: 1200px) { /*OMG C'EST COMME CA QU'ON REDUIT LA TAILLE DU PORTFOLIO !!!*/
   #apropos .row2{
	width: 1000px;
}
    }




/*PORTFOLIO*/
@media (min-width: 574px) { /*OMG C'EST COMME CA QU'ON REDUIT LA TAILLE DU PORTFOLIO !!!*/
   .portfolio .container{
        max-width: 750px;
    }
}

.portfolio img{
	width: 100%;
	padding:0;
}

.portfolio .row div{

	padding: 3px;
}

/*FOOTER*/
.footer{
	margin-top: 50px;
	
	border-bottom: 3px solid #cdbb8d;
	background-color: #F4F5F7;
}

.footer h3{
	font-size: 0.8em;
}

.footer .item-container{
	text-align: center;
}

.footer .container{
	padding-top: 50px;
}

.footer p{
	font-family: "Libre Baskerville"
	
}

.footer a{
	color: black;
	font-family: 'Libre Baskerville'
	font-size:;
}

.footer img{
	width:70px;
}

.footer hr{
	width: 100%;
}

.footer .social-wrapper{
	padding: 30px;
}

/* TEST ZONE*/



